# addIgnore True
# size_flag 0
# threshold 2.0

# find . -name "*.py" -exec git add {} +
# git add \*.py

.DS_Store
.idea/
walk.sh
addIgnore.py
envs.py
path.sh
envs.sh
pyutils

algos/cmake-build-debug/*
algos/java/src/output/*



